::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: "HelveticaNeueCyr";
  font-size: 17px;
  color: #999999;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "HelveticaNeueCyr";
  font-size: 17px;
  color: #999999;
}
:-ms-input-placeholder {
  /* IE 10+ */
  font-family: "HelveticaNeueCyr";
  font-size: 17px;
  color: #999999;
}
:-moz-placeholder {
  /* Firefox 18- */
  font-family: "HelveticaNeueCyr";
  font-size: 17px;
  color: #999999;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal {
  background-color: #fff;
}
.modal-header {
  background-color: #f3f3f3;
  position: relative;
  padding: 31px 48px 23px;
}
.modal-header__text {
  margin: 0;
  font-family: "HelveticaNeueCyr";
  font-size: 17px;
  text-transform: uppercase;
}
.close-icon {
  display: block;
  height: 16px;
  width: 16px;
  position: relative;
}
.close-icon:before {
  position: absolute;
  content: "";
  width: 22px;
  border-top: 2px solid #3e3e3e;
  transform: rotateZ(45deg);
  top: 8px;
  right: -4px;
}
.close-icon:after {
  position: absolute;
  content: "";
  height: 22px;
  top: -2px;
  left: 8px;
  border-right: 2px solid #3e3e3e;
  transform: rotateZ(45deg);
}
.register-form {
  width: 817px;
  box-sizing: border-box;
  padding: 40px 48px;
}
.questions {
  box-sizing: border-box;
  width: 815px;
}
.modal-close {
  border: none;
  background: transparent;
  position: absolute;
  top: 30px;
  right: 45px;
  outline: none;
}
.inputs-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
.input-wrapper {
  width: 46.6%;
  border: 1px solid transparent;
}
.modal-input {
  width: 100%;
  height: 50px;
  padding: 11px 14px 10px 14px;
  box-sizing: border-box;
  font-family: "HelveticaNeueCyr";
  font-size: 17px;
  color: #212121; 
  border: 1px solid #cdcdcd;
  outline: none;
}
.modal-input:focus {
  border: 1px solid #212121;
}
.checkbox-wrapper {
  display: block;
  margin: 2px 0;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
}

.checkbox-label {
  color: #4d4d4d;
  padding-left: 20px;
}
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 2.7em;
  cursor: pointer;
  line-height: 46px;
  margin: 0;
  font-weight: 400;
  font-size: 17px;
  padding: 5px 40px;
}
/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #ccc;
  background: #fff;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: "✓";
  position: absolute;
  top: 7px;
  left: 7px;
  font-size: 15px;
  line-height: 0.8;
  color: #30bfb3;
  transition: all 0.2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility 
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
}*/
/* hover style just for information 
label:hover:before {*/
/* border: 2px solid #4778d9 !important;
}*/
.modal-comment {
  font-size: 12px;
  margin-top: 11px;
  display: block;
  color: #999;
  font-family: "HelveticaNeueCyr";
}
.modal-divider {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 38px 0 0;
  padding: 0;
}
.modal-button {
  font-family: "HelveticaNeueCyr";
  font-size: 17px;
  color: #fff;
  background-color: #212121;
  border: none;
  padding: 14px 26px;
  float: right;
  margin-top: 38px;
}
.modal-button:active {
  background-color: #212121;
  color: #b4b4b4;
  outline: none;
}
.modal-buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.input-wrapper--error {
  border: 1px solid #fc0d1b;
  position: relative;
}
.modal-input--error {
  border-color: #fc0d1b;
}
.input-wrapper--error:after {
  font-family: "HelveticaNeueCyr";
  content: "Обязательное поле";
  position: absolute;
  bottom: -24px;
  right: 0;
  color: #fc0d1b;
  font-size: 15px;
  font-weight: 500;
}
.success-subscription {
  display: block;
  margin: 0 auto;
  width: 530px;
  padding: 53px 48px 50px;
  text-align: center;
}

.success-img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  background: #3abeb3;
  height: 44px;
  width: 44px;
  color: #fff;
  position: relative;
}

.success-img:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 13px;
  top: 9px;
  left: 14px;
  border-right: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  transform: rotateZ(45deg);
}

.success-header {
  font-family: "HelveticaNeueCyr";
  font-size: 21px;
}
.success-message {
  font-family: "HelveticaNeueCyr";
  font-size: 17px;
  line-height: 23px;
  margin-top: 20px;
  margin-bottom: 15px;
}
.modal-button--vote {
  float: none;
  margin-top: 15px;
}
.modal-form-group {
  display: block;
}
.questions {
  box-sizing: border-box;
  width: 815px;
  padding: 38px 48px 35px;
}
.label-question {
  font-family: "HelveticaNeueCyr";
  display: inline-block;
  width: 100%;
  font-size: 17px;
  margin-bottom: 15px;
  margin-bottom: 19px;
}
.modal__textarea {
  width: 100%;
  height: 90px;
  margin-bottom: 30px;
  padding: 8px 14px;
  box-sizing: border-box;
  resize: none;
}
.modal-divider--questions {
  margin: 0;
}
.label-question--color {
  color: #45c6bb;
}
.modal-controls {
  position: absolute;
  top: 15px;
}
.modal-closed {
  display: none;
}
@media only screen and (max-width: 992px) {
  .modal-header {
    padding: 26px 48px 23px;
  }
  .input-wrapper {
    width: 44%;
  }
  .register-form,
  .questions {
    width: 555px;
    box-sizing: border-box;
  }
  .modal-input {
    padding: 14px 14px 10px 14px;
    font-size: 15px;
  }
  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
    font-size: 15px;
  }
  .inputs-container {
    margin-bottom: 18px;
  }
  .modal-comment {
    margin-top: 13px;
  }
  .modal-button {
    font-size: 15px;
    padding: 16px 24px;
    margin-top: 38px;
  }
  .modal-divider {
    margin-top: 37px;
  }
  .success-subscription {
    width: 555px;
    box-sizing: border-box;
  }
  .modal-header {
    padding: 25px 48px;
  }
  .success-header {
    font-size: 17px;
  }
  .success-header {
    font-size: 17px;
    margin-top: 20px;
  }
  .success-message {
    font-size: 15px;
    line-height: 20px;
    margin-top: 24px;
    margin-bottom: 15px;
  }
  .modal-button.modal-button--vote {
    font-size: 15px;
    padding: 16px 24px;
    margin-top: 15px;
  }
  .modal-divider.modal-divider--questions {
    margin-top: 5px;
  }
  .label-question {
    font-size: 15px;
    line-height: 20px;
  }
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-family: "HelveticaNeueCyr";
    font-size: 15px;
    color: #999999;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    font-family: "HelveticaNeueCyr";
    font-size: 15px;
    color: #999999;
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    font-family: "HelveticaNeueCyr";
    font-size: 15px;
    color: #999999;
  }
  :-moz-placeholder {
    /* Firefox 18- */
    font-family: "HelveticaNeueCyr";
    font-size: 15px;
    color: #999999;
  }
}

@media only screen and (max-width: 555px) {
  .inputs-container {
    flex-wrap: wrap;
  }
  .success-subscription,
  .register-form,
  .questions {
    width: 100%;
    padding: 35px 20px;
  }
  .modal-header__text {
    font-size: 17px;
    line-height: 24px;
    padding-right: 40px;
  }
  .input-wrapper {
    width: 100%;
    margin-bottom: 24px;
  }
  .modal-header {
    padding: 22px 20px;
  }
  .modal-input {
    height: 46px;
    padding: 10px 14px;
    font-size: 15px;
  }
  .input-wrapper--error:after {
    bottom: -18px;
    left: 0;
    right: auto;
    font-size: 13px;
  }
  .input-wrapper:last-child {
    margin-bottom: 0;
  }
  .inputs-container {
    margin-bottom: 25px;
  }
  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
    line-height: 20px;
    display: block;
    padding-top: 3px;
    padding-bottom: 0;
  }
  .checkbox-wrapper {
    display: block;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 20px;
  }
  .modal-comment {
    margin-top: 9px;
  }
  .success-message {
    font-size: 15px;
    line-height: 20px;
    margin-top: 18px;
    margin-bottom: 0px;
  }
  .modal-button.modal-button--vote {
    margin-top: 20px;
  }
  .modal-close {
    right: 17px;
  }
  .modal-divider.modal-divider--questions {
    margin-top: 0;
  }
  .modal-button.modal-button--questions {
    margin-top: 35px;;
  }
}